* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    min-height: 100vh;
}
 
.header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E0E0E0;
    z-index: 100;
 
}
 
 .header img{
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 150px;
    max-height:300px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
}
 
.itens{
    height: 350px;
    margin-top: 150px;
    width: 100%;
    background-color: #E0E0E0;
}
 
.btn-itens {
    display: flex;
    gap: 30px;
    padding: 35px
}
 
.btn-itens div{
    background-color: #D0D0D0;
    height: 250px;
    border-color: #ffffff;
    border-style: groove;
    border-radius: 15px;
    border-width: 5px;
    color: #000000;
    padding-left: 5px;
}
 
.btn-itens p{
    text-align: center;
    font-size: 65px;
}
 
.btn-itens button{
    width: 161px;
    height: 55px;
    left: 1066px;
    top: 699px;
    border-style: none;
    background: #7800E5;
    color: #ffffff;
}