<div class="row align-items-center">
    <div class="col-8">
      <h1 class="text-center"><%= mensagem %></h1>
      <h2 class="text-center"><%= erro.status %></h2>
      <pre><%= erro.stack %></pre>
    </div>
    <div class="col-4">
      <img
        src="/imagens/gato-cry.png"
        alt="Imagem de um gato chorando"
        class="gato-error"
      />
    </div>
  </div>